<!-- Validation failure messages -->
<% if @coupon.errors.any? %>
  <% @coupon.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Coupon #<%= @coupon.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_coupon/<%= @coupon.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @coupon.user_id %>">
      </div>

      <!-- Label and input for coupon_link -->
      <div class="form-group">
        <label for="coupon_link" class="control-label">
          Coupon link
        </label>

        <input type="text" id="coupon_link" name="coupon_link" placeholder="Coupon link" class="form-control" value="<%= @coupon.coupon_link %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @coupon.description %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @coupon.image_url %>">
      </div>

      <button class="btn btn-warning">
        Update Coupon
      </button>
      or
      <a href="/coupons/<%= @coupon.id %>">Cancel</a>
    </form>
  </div>
</div>
