<div class="page-header">
  <h3>Coupon #<%= @coupon.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @coupon.user_id %></dd>

      <dt>Coupon link</dt>
      <dd><%= @coupon.coupon_link %></dd>

      <dt>Description</dt>
      <dd><%= @coupon.description %></dd>

      <dt>Image url</dt>
      <dd><%= @coupon.image_url %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/coupons" class="btn btn-primary">
        Back
      </a>
      <a href="/coupons/<%= @coupon.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_coupon/<%= @coupon.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
